@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


:root{
    --shadow: 0px 2px 4px #B0B0B0;
    --corner-round: 8px;
}

body, html{
    margin: 0px;
    height: 100%;
}

*{
    font-family: Roboto, sans-serif;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    --backdrop-color: #d8e3eb;
    position: relative;
}

/*---------HEADER----------*/

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    column-gap: 32px;

    padding: 0px 48px 16px 32px;
    box-shadow: var(--shadow);
    z-index: 0;
    position: sticky;
}

.header .search{
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 16px;
}

.header .search span{
    font-size: 1.4rem;
}

.header .search .search-bar{
    --search-height: 28px;
    height: var(--search-height);
    background-color: var(--backdrop-color);
    border-radius: calc(var(--search-height)/2);
}

.header .self{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    align-items: center;
    justify-content: end;
    gap: 32px;
}

.header .self .joey{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: gray;
}

.header .self .text{
    margin: 0px;
    font-weight: 500;
    font-size: .9;
}

.header .greeting{
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 24px;
}

.header .greeting p{
    margin: 0px;
    font-weight: 500;
}

.header .greeting p:first-of-type{
    font-size: .8rem;
    align-self: end;
}

.header .greeting p:last-of-type{
    font-size: 1.4rem;
    align-self: start;
}

.header .greeting .joey{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: gray;

    grid-row: 1 / span 2;
}

.header .actions{
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.header .btn {
    border: none;
    color: white;
    background-color: dodgerblue;
    height: 32px;
    width: 90px;
    font-weight: 450;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 16px;
}

/*---------SIDE BAR----------*/

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 30px;
    background-color: rgb(25, 146, 212);
    color: white;
    font-weight: bold;
    padding-left: 8px;

    height: 100vh;
}

.sidebar button{
    border: none;
    background-color: transparent;
    color: white;
    height: 25px;
    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    padding-left: 14px;
}

.sidebar button span{
    font-size: 1rem;
}

.sidebar .logo{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content;
    align-items: center;
    gap: 16px;
    padding: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0px;
}

.sidebar .logo span{
    font-size: 2rem;
}

.sidebar .nav, .sidebar .help{
    display: grid;
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    gap: 8px;
}

/*---------MAIN CONTENT----------*/

.content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--backdrop-color);
    gap: 24px;

    padding: 32px 32px 16px 32px;
    overflow: scroll;
}

.content .projects{
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 24px;
}

.content .projects>p{
    grid-column: 1 / span 2;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px 0px -16px;

}

.content .projects .card{
    background-color: white;
    padding: 32px 16px;
    border-left: 6px solid #f2cf0a;
    border-radius: var(--corner-round);
    box-shadow: var(--shadow);
    height: min-content;

    display: grid;
    grid-template-rows: min-content;
}

.content .card .title{
    font-weight: bold;
    font-size: 1.1rem;
}

.content .card .text{
    height: 100px;
    overflow: hidden;
}

.content .card .actions{
    justify-self: end;
    padding-right: 25px;
    height: min-content;
}

.content .actions span{
    word-spacing: 16px;
}

.content .projects .card *{
    background-color: white;
    margin: 0px;
}

.content .announcements,
.content .trending{
    display: grid;
    grid-template-rows: min-content;
    gap: 8px;
    height: min-content;
}

.content .announcements>p,
.content .trending>p{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0px;
}

.content .feed{
    background-color: white;
    border-radius: var(--corner-round);
    box-shadow: var(--shadow);
    padding: 16px;
    height: min-content;
}

.content .feed .title{
    margin-bottom: 0px;
    font-size: .9rem;
    font-weight: 450;
}

.content .feed .text{
    margin-top: 0px;
    font-size: .8rem;
}

.content .announcements .divider{
    border-bottom: 1px solid gainsboro;
}

.content .trending .feed{
    display: grid;
    gap: 16px;
}

.content .trending .account{
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 12px;
}

.content .account .jj,
.content .account .chuck,
.content .account .libby,
.content .account .anna{
    grid-row: 1 / span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: gray;
}

.content .account p{
    margin: 0px;
}

.content .account .name{
    font-size: .9rem;
}
